<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href='../css/main.css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <main id='about-main'>
    <img src='../images/bbq-tracker-cow.png' alt='BBQ Tracker logo'>
    <div id='about-area'>
      <p>BBQ Tracker is an online journal for storing recipes and keeping track of your cooks. Use it to keep realtime logs of your cooks, improve upon methods, share with others, and learn best practices!</p>
      <p>If you experience a problem, need help, or just want to drop a line:<br><br>support [at] bbqtracker.com</p>
    </div>
  </main>
  <script src='js/bundle.js'></script>
</body>
</html>