<!DOCTYPE html>
<html>
<head>
  <%- include header.ejs -%>
  <title><%= title %></title>
</head>
<body>
  <%- include nav.ejs -%>
  <main id='about-main'>
    <img src='/images/bbq-tracker-cow.png' alt='BBQ Tracker logo'>
    <div id='about-area'>
      <p>BBQ Tracker is an online journal for storing recipes and keeping track of your cooks. Use it to keep realtime logs of your cooks, improve upon methods, share with others, and learn best practices!</p>
      <p>If you experience a problem, need help, or just want to send comments:<br><br><strong>grazingcattlebbq [at] gmail [dot] com</strong></p>
    </div>
  </main>
  <%- include footer.ejs -%>
</body>
</html>