<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href='../css/main.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <% if (message) { %>
  <div class='message'><%= message %></div>
  <% } %>
  <% if (errors) { %>
  <% errors.forEach(function(error) { %>
    <div class='error'><%= error %></div>
  <% }) %>
  <% } %>
  <h1>My Account</h1>
  <main>
    <ul id='account-options'>
      <li>
        <h3 id='new-username-btn'>Change Username</h3>
        <div id='new-username-field' class='hidden'>
          <label for='username'>New Username</label>
          <input id='new-username' type='text' for='username' name='username' placeholder='BBQ123'>
          <button id='new-username-submit' type='button'>Submit</button>
        </div>
      <li>
        <h3 id='new-avatar-btn'>Change Avatar</h3>
        <div id='avatar-options'>
          <img src='../images/cow.svg' alt='cow'>
          <img src='../images/chicken.svg' alt='chicken'>
          <img src='../images/pig.svg' alt='pig'>
        </div>
      </li>
      </li>
      <li>
        <h3 id='new-email-btn'>Change Email</h3>
        <div id='new-email-field' class='hidden'>
          <label for='email'>New Email</label>
          <input id='new-reg-email' type='text' for='email' name='email' placeholder='you@email.com'>
          <button id='new-email-submit' type='button'>Submit</button>
        </div>
      </li>
      <li>
        <h3 id='new-pw-btn'>Change Password</h3>
        <div id='new-pw-field' class='hidden'>
          <label for='password'>New Password</label>
          <input id='new-reg-pw' type='password' for='password' name='password'>
          <label for='confirm password'>Confirm Password</label>
          <input id='new-reg-pw2' type='password' for='confirmpassword' name='password2'>
          <button id='new-pw-submit' type='button'>Submit</button>
        </div>
      </li>
      <li>
        <h3>Delete account</h3>
      </li>
    </ul>
  <script src='js/bundle.js'></script>
</body>
</html>