<nav>
  <a href='/'><img src='../images/smoker.svg' alt='smoker icon'></a>
  <ul id='left-nav'>
    <% if (!user) { %>
      <a href='/register'><li>Register</li></a>
      <a href='/sign-in'><li>Sign In</li></a>
    <% } else { %>
      <a href='/create-log'><li>Create BBQ Log</li></a>
      <a href='/log-history'><li>Log History</li></a>
    <% } %>
  </ul>
  <% if (username) { %>
    <div id='right-nav-area'>
      <div id='username-menu'>
        <img src='<%= avatar %>'>
        <div><%= username %></div>
      </div>
      <div id='drop-down-options' class='hidden'>
        <ul>
          <li><a href='/account'>Account Settings</a></li>
          <li><a href='/logout' id='logout'>Logout</a></li>
        </ul>
      </div>
    </div>
  <% } %>   
  </div>
</nav>

