<nav>
  <a href='/'><img src='../images/smoker.svg' alt='smoker icon'></a>
  <ul>
    <a href='/create-log'><li>Create BBQ Log</li></a>
    <a href='/log-history'><li>Log History</li></a>
    <% if (!user) { %>
    <a href='/sign-in'><li>Sign In / Register</li></a>
    <% } else { %>
    <a href='/logout'><li id='logout'>Logout</li></a>
    <% } %>
  </ul>
</nav>