<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href='../css/home.css'>
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1>BBQ Tracker</h1>
  </header>
  <main>
    <div id='menu-wrapper'>
      <a href='/create-log'><button type='button' id='create'>Create a Log</button></a>
      <a href='/sign-in'><button type='button' id='sign-in'>Sign In / Register</button></a>
    </div>
  </main>
</body>
</html>

