<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href='../css/main.css'>
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <p><%= message %></p>
  <ul>
    <% logs.forEach(function (log) { %>
      <li><%= log.title %></li>
    <% }) %>
  </ul>
</body>
</html>

