<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" type="text/css" href='../css/main.css'>
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Roboto+Slab' rel='stylesheet'>
  <title><%= title %></title>
</head>
<body>
  <%- include header.ejs -%>
  <% if (message) { %>
  <%= message %>
  <% } %>
  <% if (errors) { %>
    <div class='error'><%= errors %></div>
  <% } %>
  <h1>Sign In</h1>
  <main>
    <section id='sign-in'>
      <form id='sign-in-form' action='/sign-in' method='post'>
        <label for='username'>Username</label>
        <input id='sign-email' type='text' for='username' name='username' placeholder='BBQ123'>
        <label for='password'>Password</label>
        <input id='sign-pw' type='password' for='password' name='password'>
        <input id='sign-in-btn' type='submit' for='submit' value='Submit'>
      </form>
    </section>
  </main>
  <script src='js/bundle.js'></script>
</body>
</html>