html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
  font-size: 1em;
}

body {
  background-color: #B5C1C6;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
}

/* Homepage */

#video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

video {
  position: fixed;
  z-index: -100;
  left: 0;
  height: 100%;
  background-color: black;
}

#updated-th, #updated-td, #rating-th, #rating-td {
  display: none;
}

#vote-meat-th, #vote-meat-td {
  display: none;
}

#home-body {
  color: #d9d9d9;
  background-color: black;
}

#home-body h1 {
  text-align: center;
}

#home-main {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
  overflow: hidden;
}

#home-main h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

#home-main table {
  background-color: rgba(99, 115, 122, 0.7);
}

table img, #public-rating img {
  width: 116px;
  height: 22.5px;
}

#public-logs-updated {
  height: 200px;
  margin: 0 20px;
  overflow: scroll;
}

#top-voted-logs {
  height: 200px;
  margin: 0 20px;
  overflow: scroll;
}

/* Navigation Menu */

#mobile-top {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 60px;
  background-color: #63737A;
}

#mobile-out {
  position: fixed;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  margin-top: -200%;
  background-color: #63737A;
}

#logo {
  float: left;
  height: 46px;
  margin: 6px 5px 5px 8px;
}

#hamburger {
  float: right;
  height: 25px;
  margin: 10px;
}

.nav-open {
  margin-top: 60px !important;
}

.animateStart, .animateNav {
  transition-property: margin-top;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: initial;
}

#left-nav {  
  list-style: none;
  margin-top: 20px;
  padding-left: 20px;
}

#left-nav li {
  color: #d9d9d9;
  margin-bottom: 10px;
  font-size: 2em;
}

#left-nav a, #right-nav-area a {
  text-decoration: none;
  color: inherit;
}

#right-nav-area {
  position: absolute;
  width: 300px;
  right: 0;
}

#right-nav-area ul {
  list-style: none;
  padding-right: 20px;
  margin-top: 5px;
}

#right-nav-area li {
  color: #d9d9d9;
  text-align: right;
  font-size: 1.5em;
  margin-bottom: 5px;
}

#username-menu {

}

/*#username-menu {
  position: absolute;
  top: 0;
  right: 0;
}*/

#username-menu i {
  display: none;
  margin-top: 4px;
  color: black;
}

#username-menu img {
  height: 100px;
  margin-left: 180px;

}

/*#username-menu img {
  display: inline-block;
  margin-top: -20px;
  height: 60px;
}*/

#username {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
  margin-right: 30px;
}

#username-menu:hover {
  cursor: pointer;
}

/*#drop-down-options {
  margin-top: 78px;
  text-align: right; 
  text-decoration: none;
}*/

/* Sitewide */

#profile-box img {
  width: 75px;
  height: 75px;
}

#log-main, #about-main, #account-main {
  position: relative;
  overflow: hidden;
  color: black;
  margin: 60px 10px 10px 10px;
}

#account-main ul {
  padding: 0;
}

#log-main h1, #account-main h1 {
  margin: 10px 0;
}

/*#log-main input {
  float: right;
}*/

label {
  display: inline-block;
  white-space: nowrap;
  margin-top: 3px;
}

input[type='select'] {
  -webkit-appearance: none;
  width: 150px;
}

input[type='text'] {
  -webkit-appearance: none;
  width: 150px;
}

input[type='checkbox'] {
  zoom: 2;
  vertical-align: middle;
}

input[type='radio'] {
  zoom: 2;
  vertical-align: middle;
}

textarea {
  -webkit-appearance: none;
  resize: none;
}

select {
  -webkit-appearance: none;
  padding: 3px 6px;
}

button {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.2em;
  border: solid black 1px;
  padding: 5px 10px;
  border-radius: 0;
  -webkit-appearance: none;
    -webkit-border-radius: 0;
  background-color: #63737A;
  color: white;
}

ol {
  margin-left: 22px;
  padding: 0;
}




input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  margin: 9.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #63737a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 20px;
  width: 10px;
  border-radius: 0px;
  background: #ff7b7b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #6e8088;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #63737a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 12px;
  border-radius: 0px;
  background: #ff7b7b;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #58666c;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #63737a;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 12px;
  border-radius: 0px;
  background: #ff7b7b;
  cursor: pointer;
  height: 5.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #63737a;
}
input[type=range]:focus::-ms-fill-upper {
  background: #6e8088;
}












#date-select {
  width: 200px;
}

#cooking-device, #meat-type {
  width: 100px;
}

#weight, #estimated-time {
  width: 70px;
}

#other-ingredients-label {
  display: block;
}

#other-ingredients {
  width: 270px;
  height: 60px;
}

#meat-notes-label {

}

.step-box {
  border: 1px solid black;
  padding: 15px;
  margin-top: 10px;
}

.step-notes {
  width: 100%;
}

.step-notes textarea {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.complete-box {
  width: 100%;
  margin-bottom: 10px;
}

.time {
  display: inline-block;
  margin-left: 15px;
}

.complete-notes {
  width: 100%;
}

.complete-notes textarea {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.remove-step {
  margin-top: 10px;
}

#save, #update {
  display: block;
  clear: both;
  margin-top: 25px;
}

#sign-in input {
  display: block;
}

#register input {
  display: block;
}

#vote-area {
  position: absolute;
  top: 0;
  right: 0;
}

#vote-area img {
  width: 40%;
  height: 40%;
  float: right;
}

#vote-area button {
  width: 100%;
}

#vote-count-box {
  height: 127px;
  width: 44px;
  margin-left: 10px;
  margin-top: 25px;
  vertical-align: top;
  float: right;
}

#vote-count {
  width: 100%;
  height: 44px;
  border: 1px solid black;
  margin-bottom: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.75em;
  background-color: #ffec80;
  color: black;
}

.hidden {
  display: none;
}

/****** Style Star Rating Widget *****/

.rating fieldset { margin: 0; padding: 0; }
.rating label { margin: 0; padding: 0; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/***** Log History *****/

#log-history-main {
  height: 100%;
  margin: 60px 10px 10px 10px;
  background-color: #B5C1C6;
}

#date-td-log-history, #date-th-log-history, #meat-td-log-history, #meat-th-log-history, #status-td-log-history, #status-th-log-history, #temp-td-log-history, #temp-th-log-history, #votes-td-log-history, #votes-th-log-history, #public-td-log-history, #public-th-log-history {
  display: none;
}

#select-th-log-history, #select-td-log-history {
  width: 20%;
}

td img {
  height: 18px;
  width: 93px;
}

/***** Log tables *****/

table  {
  width: 100%;
  table-layout: fixed;
}

th {
  text-align: left;
}

th, td {
  padding: 10px;
  text-align: center;
}

#status-box {
  padding: 4px;
  clear: both;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
  content: " \25B4\25BE" 
}

/***** Accounts Page *****/
#account-options {
  list-style: none;
}

#account-options button {
  margin-top: 10px;
}

#account-options h3 {
  margin: 10px 0;
  cursor: pointer;
}

#avatar-options img {
  width: 75px;
  cursor: pointer;
}

.avatar-highlight {
  background-color: #ffec80;
  padding: 2px;
  cursor: default !important;
}

.pop-update {
  width: 300px;
  height: 150px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background-color: grey;
}

.pop-del {
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  background-color: grey;
}

.pop-del p {
  text-align: center;
  font-size: 2em;
}

.pop-del-options {
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}