html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #3CB255;
}

nav {
  height: 125px;
  background-color: #FFD7A6;
  overflow: hidden;
}

nav img {
  float: left;
  margin-top: 18px;
  width: 100px;
  height: 100px;
}

nav ul {  
  list-style: none;
  margin-top: 55px;
}

nav li {
  float: left;
  margin-left: 25px;
}

main {
  margin: 0 20px;
}

.step-box {
  border: 1px solid black;
  padding: 25px;
  overflow: hidden;
}

.step-notes {
  float: left;
  width: 100%;
}

.step-notes textarea {
  width: 100%;
  height: 50px;
}

.complete {
  float: left;
  width: 25%;
}

.complete-notes {
  float: left;
  width: 75%;
}

.complete-notes textarea {
  width: 100%;
  height: 50px;
}

#save {
  margin-top: 25px;
}

#sign-in input {
  display: block;
}

#register input {
  display: block;
}