html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #3CB255;
}

header {
  height: 125px;
  background-color: #FFD7A6;
  overflow: hidden;
}

header img {
  float: left;
  margin-top: 18px;
  width: 100px;
  height: 100px;
}

header ul {  
  list-style: none;
  margin-top: 55px;
}

header li {
  float: left;
  margin-left: 25px;
}